
<ion-content>

    <!-- Header Section -->
    <div class="header-section">
      <h4 class="title"> 🛄 SOVEREIGN</h4>
      
      <p class="subtitle">Create your vault</p>

      <h4 class="description">Start your journey with Sovereign Wealth.</h4>
    </div>

    <!-- Form Section -->
    <form  #signUpForm="ngForm">
      
      <!-- First Name Field -->
      <div class="input-group">
        <ion-label position="stacked" class="input-label">First Name</ion-label>
        <ion-input
          type="text"
          
          name="firstName"
          required
          placeholder="Alexander"
          class="custom-input"
        ></ion-input>
      </div>

      <!-- Pseudo/Username Field -->
      <div class="input-group">
        <ion-label position="stacked" class="input-label">Username</ion-label>
        <ion-input
          type="text"
       
          name="pseudo"
          required
          placeholder="alex_vault_01"
          class="custom-input"
        ></ion-input>
      </div>

      <div class="input-group">
        <ion-label position="stacked" class="input-label">E_Mail</ion-label>
        <ion-input
          type="text"
          
          name="firstName"
          required
          placeholder="name@gmail.com"
          class="custom-input"
        ></ion-input>
      </div>

      <!-- Password Field -->
      <div class="input-group">
        <ion-label position="stacked" class="input-label">Password</ion-label>
        <ion-input
          type="password"
         
          name="password"
          required
          minlength="12"
          placeholder="***********"
          class="custom-input"
        ></ion-input>
        <div class="password-hint">
          Must be at least 12 characters with a symbol.
        </div>
      </div>

      <div class="input-group">
        <ion-label position="stacked" class="input-label">Confirm Password</ion-label>
        <ion-input
          type="password"
         
          name="password"
          required
          minlength="12"
          placeholder="first.lastname@gmail.com"
          class="custom-input"
        ></ion-input>
        <div class="password-hint">
          Must be at least 12 characters with a symbol.
        </div>
      </div>

      <!-- Create Account Button -->
      <ion-button
        type="submit"
        expand="block"
        class="create account-button"
      >
        Create Account
        <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      </ion-button>

    </form>

    <!-- Footer Section -->
    <div class="footer-section">
      <div class="secure-badge">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <span>SECURE HANDSHAKE</span>
      </div>
      <br>
      <div class="login-link">
        <span>Already have an account?</span>
        <ion-text color="primary" (click)="goToLogin()">Log in</ion-text>
      </div>
        <br>
      <div class="encryption-note">
        END-TO-END ENCRYPTED SESSION
      </div>
    </div>

</ion-content>

