<ion-header class="ion-no-border">
  <div class="custom-header">
    <button class="close-btn" (click)="goBack()"><ion-icon name="close-outline"></ion-icon></button>
    <ion-title>Add Transaction</ion-title>
    <button class="done-btn" (click)="onSave()"><ion-icon name="checkmark-circle-outline"></ion-icon></button>
  </div>
</ion-header>

<ion-content>
  <!-- TYPE TOGGLE -->
  <div class="toggle-container">
    <div class="toggle-pill">
      <button class="toggle-btn" [class.active]="txData.type === 'expense'" (click)="setType('expense')">Expense</button>
      <button class="toggle-btn" [class.active]="txData.type === 'income'" (click)="setType('income')">Income</button>
    </div>
  </div>

  <!-- AMOUNT INPUT -->
  <div class="amount-section">
    <p class="section-label">AMOUNT</p>
    <div class="currency-display">
      <!-- We use a hidden input or prompt, but for simple UI, let's use a standard ion-input styled -->
      <ion-input type="number" [(ngModel)]="txData.amount" class="value-input" placeholder="0.00"></ion-input>
      <span class="symbol">XAF</span>
    </div>
  </div>

  <!-- CATEGORY SELECTION -->
  <div class="section-header">
    <span class="title">Category</span>
  </div>

  <div class="category-grid">
    <div class="cat-item" 
         *ngFor="let cat of categories" 
         [class.active]="txData.category === cat.name"
         (click)="setCategory(cat.name)">
      <div class="icon-box"><ion-icon [name]="cat.icon"></ion-icon></div>
      <span>{{ cat.name }}</span>
    </div>
  </div>

  <!-- DATE & TIME -->
  <div class="row">
    <div class="col">
      <p class="section-label">DATE & TIME</p>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime" [(ngModel)]="txData.date"></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>
  </div>

  <!-- NOTES -->
  <div class="section-header">
    <span class="title">ADD NOTE</span>
  </div>
  <ion-textarea [(ngModel)]="txData.description" placeholder="Description of your transaction..." class="note-area"></ion-textarea>

  <!-- SAVE BUTTON -->
  <div class="button-wrapper">
    <button class="save-btn" (click)="onSave()">Save Transaction</button>
  </div>
</ion-content>