<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="header">
    <ion-title>
      <div class="flex-items-center">
        <ion-icon class="icon1" name="wallet"></ion-icon>
        <span class="brand-text">Sovereign</span>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="goToRegister()" fill="solid">Get Started</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="hero-container">
    <div class="hero-content">
      <ion-badge color="success" mode="ios" class="ion-margin-bottom">
        THE DIGITAL PRIVATE BANK
      </ion-badge>
      <h1>Master Your Portfolio with <br> <span class="accent-text">AI-Driven</span> Precision</h1>
      <p>Experience the evolution of wealth management with sophisticated intelligence.</p>
      
      <div class="button-group">
        <ion-button class="sign-button" (click)="goToRegister()" >Get Started</ion-button>
        <ion-button class="login-button"  (click)="goToLogin()" >Login</ion-button>
      </div>
    </div>

  </div>
   
  <section class="features">
  <ion-card class="feature-card">
    <ion-card-header>
        <div class="icon-wrapper">
          <ion-icon name="analytics-outline" class="card-icon"></ion-icon>
        </div>
        <ion-card-title class="card-title">AI Analytics</ion-card-title>
      </ion-card-header>
    <ion-card-content class="card-content">
        Advanced machine learning algorithms scan millions of data points to identify non-obvious correlations in your portfolio.
    </ion-card-content>
  </ion-card>
   <ion-card class="feature-card">
    <ion-card-header>
        <div class="icon-wrapper">
          <ion-icon name="scan-outline" class="card-icon"></ion-icon>
        </div>
        <ion-card-title class="card-title">Smart Scanning</ion-card-title>
      </ion-card-header>
    <ion-card-content class="card-content">
Instantly digitize and categorize physical assets, tax documents,
 and property deeds with encrypted optical recognition.
    </ion-card-content>
  </ion-card>
   <ion-card class="feature-card">
    <ion-card-header>
        <div class="icon-wrapper">
          <ion-icon name="cloud-upload-outline" class="card-icon"></ion-icon>
        </div>
        <ion-card-title class="card-title">Secure Cloud Sync</ion-card-title>
      </ion-card-header>
    <ion-card-content class="card-content">
      
Bank-grade 256-bit AES encryption ensures your financial 
architectural plans are synced globally and accessible only by you.
    </ion-card-content>
  </ion-card>
  </section>
</ion-content>