<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="primary danger">Souvereign Wealth </ion-title>

    <ion-buttons>
  <ion-button>
    <ion-icon name="notications-outline"></ion-icon>
  </ion-button>
</ion-buttons>    
  </ion-toolbar>

  <ion-content>
    <section class="features">
  <ion-card class="feature-card">
    <ion-card-header>
        <div class="icon-wrapper">
          <ion-icon name="analytics-outline" class="card-icon"></ion-icon>
        </div>
        <ion-card-title class="card-title">AI Analytics</ion-card-title>
      </ion-card-header>
    <ion-card-content class="card-content">
        Advanced machine learning algorithms scan millions of data points to identify non-obvious correlations in your portfolio.
    </ion-card-content>
  </ion-card>
   </section>
</ion-header>
  </ion-content>
   







